.ipynb_checkpoints/
..gitignore.un~
.gitignore~
.pyqt6_book.py.un~
pyqt6_book.py~
.background.py.un~
.pyqt6_book.py.swp
background.py~
./1_Interfaces Gr\303\241ficas com Python + PyQt6.txt
pyqt6_book/1_Interfaces Gr\303\241ficas com Python + PyQt6.txt
"pyqt6_book/1_Interfaces Gr\303\241ficas com Python + PyQt6.txt"
