.ipynb_checkpoints/
..gitignore.un~
.gitignore~
.pyqt6_book.py.un~
pyqt6_book.py~
.background.py.un~
.pyqt6_book.py.swp
background.py~
./1_Interfaces Gr\303\241ficas com Python + PyQt6.txt
pyqt6_book/1_Interfaces Gr\303\241ficas com Python + PyQt6.txt
"pyqt6_book/1_Interfaces Gr\303\241ficas com Python + PyQt6.txt"
DB.Browser.for.SQLite-3.12.2-win64.zip
New Documento de Texto.txt
Problems with Pyinstaller & and Common Fixes.mp4
pyinstaller-5.4.1.zip
pyqt6_book/pyqt6_book_15/
python-3.10.7-amd64.exe
tec_system/Maquina_configurada.pdf
tec_system/Maquina_configurada_04_10_2022.pdf
tec_system/OF_GREG/
tec_system/__init__.py
tec_system/api-ms-win-core-path-l1-1-0.dll.rar
tec_system/build/
tec_system/capturas_system/
tec_system/dist/
tec_system/installer/
tec_system/out_0.1/
tec_system/out_0.2/
tec_system/rename_function.py
tec_system/tec_system - Copia.py
tec_system/tec_system.spec
tec_system/test/
w64devkit-1.16.1.zip
